@model IEnumerable<AirWings.Models.Offer>

@{
    ViewData["Title"] = "getoffer";
}

<h1>getoffer</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Offername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Offerprice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Offername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Offerprice)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Offerid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Offerid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Offerid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
